@page
@model IndexModel
@{
    ViewData["Title"] = "List Documents";
}

@if (string.IsNullOrEmpty(Model.UserId))
{
    <h1>List Documents for User</h1>
}
else
{
    <h1>Documents for User: @Model.UserId</h1>
}

@if (Model.CallFailed)
{
    <p>Documents service unavailable!</p>
}
else if (Model.Documents != null && Model.Documents.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Size</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in @Model.Documents)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.FileName</td>
                    <td>@product.Size</td>
                    <td>@product.FulfilmentStatus</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.Documents != null)
{
    <p>No Documents found</p>
}
else
{
    <form method="post">
        <input type="text" name="userId" value="0421">
        <input type="submit" value="Go!" />
    </form>
}
